.primary-button{
    width: 100%;
    background-color: #2a3249;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

}

.link{
    color: #2a3249;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: underline;
}