.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 11.5em;
}
.list-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  height: 90%;
  width: 100%;
}

.add-button {
  padding: 0.75em;
  border-radius: 10em;
}

.add-button:hover {
  background-color: rgba(80, 81, 79, 0.1);
}

/* ******************************** */
/*          View Item styles        */
/* ******************************** */
.edit-user {
  align-self: flex-start;
  margin-left: 2em;
  margin-top: 1.5em;
}
.action-bt {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1em;
  padding: 0.25em 1.25em;
}
.save {
  background-color: #4ec295;
  border: none;
}
.save-disabled {
  background-color: #4ec295;
  opacity: 0.5;
  border: none;
  cursor: default;
}
.delete {
  background-color: #f08080;
  border: none;
}
.save:hover {
  background-color: #5adaa9;
}
.delete:hover {
  background-color: #f69e9e;
}

.info-box {
  width: 35em;

  display: flex;
  flex-direction: column;

  padding: 1em;
}
.edit-info {
  display: flex;
  flex-direction: row;
}

.labels-section {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label-text {
  font-size: 1em;
  font-weight: 700;
  color: rgb(80, 81, 79);
  margin-bottom: 1em;
}

.inputs-section {
  display: flex;
  flex-direction: column;
}

.input-box {
  width: 20em;
  font-size: 0.9em;
  padding: 0.2em 0.3em;
  border-radius: 3px;
  border: 1px solid rgb(80, 81, 79);
  margin-bottom: 0.95em;
}

.input-dropdown {
  width: 20.75em;
  font-size: 0.9em;
  padding: 0.2em 0.3em;
  margin-bottom: 0.95em;
  border-radius: 3px;
  border: 1px solid rgb(80, 81, 79);
}

.input-box:focus {
  outline: none;
}

/* *********************************** */
/*          Search and filter          */
/* *********************************** */

.searchAndFilter {
  width: 90%;
  margin: 1em 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 70em;

  border: 1px solid #50514f;
  border-radius: 0.5em;

  padding: 0.5em;

  display: flex;
  flex-direction: row;

  align-items: center;
}

.search-icon {
  margin-right: 0.5em;
}

.search-input {
  width: 100%;

  color: #50514f;
  font-size: 1em;

  border: 0;
  outline: none;
}

.filterDropDown {
  border-radius: 0.5em;

  color: #50514f;
  font-size: 1em;

  margin: 0em 1em;
  padding: 0.6em;

  width: 12em;
}

.filterDropDown:focus {
  outline: none;
}

.full {
  width: 90em;
}

.info-text {
  margin-bottom: 1em;
  font-size: 1em;
  color: #50514f;
}
.custom-modal {
  display: flex;
  margin-top: 15em;
  align-self: center;
  justify-content: center;
}
.custom-modal.packages {
  margin-top: 10em;
}
.custom-modal.packages > div {
  width: 30em;
}
.edit-info.packages {
  width: 30em;
}
.label-text.options {
  width: 10em;
}
.label-text.options.category {
  width: 3em;
}

.custom-modal > div {
  width: 25em;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 0.5em;
  border: 0.1px solid rgb(215, 215, 215);
}
.custom-modal p {
  width: 90%;
}
.custom-modal h1 {
  width: 10em;
  margin-top: 0em;
  color: rgb(80, 81, 79);
}
.custom-modal button {
  background-color: #f08080;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.custom-modal button:hover {
  background-color: #f69e9e;
}

.custom-modal button:last-child {
  background-color: #ddd;
  color: black;
}
.custom-modal button:last-child:hover {
  background-color: #e5e4e4;
}

.custom-modal input {
  width: 20em;
}
.add-error {
  color: red;
  width: 25em;
  align-self: center;
  margin-top: 3em;
  text-align: center;
}
.add-cat-error {
  color: red;
  padding: 10px;
  margin-left: 4em;
}
.add-pac-error {
  color: red;
  padding: 10px;
  margin-left: -1em;
}
.header-options {
  display: flex;
  flex-direction: row;
}
.header-close {
  margin-left: 3.5em;
}
.header-close.packages {
  margin-left: 8em;
}
.header-close > img {
  cursor: pointer;
}
.button.package {
  margin-left: -13em;
}
.button.category {
  margin-left: -5em;
}

/* Styles for screens between 768px and 1200px */
@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 10em;
  }

  .list-box {
    height: 80%;
  }

  .info-box {
    width: 30em;
  }

  /* .searchAndFilter {
    width: ;
  } */

  .full {
    width: 75em;
  }

  .custom-modal.packages > div {
    width: 25em;
  }

  .edit-info.packages {
    width: 25em;
  }

  .label-text.options {
    width: 8em;
  }
}

/* Styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .container {
    margin-left: 5em;
  }

  .list-box {
    height: 70%;
  }

  .info-box {
    width: 80em;
  }

  .searchAndFilter {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
  }

  .search-bar {
    width: 100%;
  }

  .filterDropDown {
    margin: 1em 0;
  }

  .full {
    width: 100%;
  }

  .custom-modal.packages > div {
    width: 20em;
  }

  .edit-info.packages {
    width: 20em;
  }

  .label-text.options {
    width: 6em;
  }
}
/* Styles for screens smaller than 640px */
@media only screen and (max-width: 639px) {
  .container {
    margin-left: 6em;
  }
}